*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #0e0e0e;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(Ronaldo\ Luiz\ Walukow.JPG);
    background-size: cover;
    background-position: center;

   /*----- background-size: 250px;
    background-repeat: no-repeat;
    background-position: center;
   background-position: 160lvh;-----*/
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 100px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul {
    position: fixed;          /* sidebar stays on screen */
    top: -1.5cm;
    right: 6.3cm;
    width: 200px;
    height: 100vh;            /* full viewport height */
    display: flex;
    flex-direction: row;   /* stack items vertically */
    justify-content: space-between; /* even spacing top-to-bottom */
    padding: 50px 0;          /* optional padding */
    z-index: 100;
}
nav {
    width: 100%;            /* full width of viewport */
    background: #0e0e0e;    /* choose your color */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;     /* optional padding inside nav */
    position: fixed;         /* optional: stay on top when scrolling */
    top: 0;                  /* stick to top */
    left: 0;                 /* start from left edge */
    z-index: 999;
}

nav ul li {
    list-style: none;
    text-align: center;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    position: relative; /* normal flow inside sidebar */

}


nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;    
    background: #3e33d6;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    left: 20px;
    font-size: 55px;
    color: #ffffff;
}

.header-tex h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #3e33d6;
}
/*--------about---------*/
#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 90%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;

}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #3e33d6;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;

}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
color: #57529e;
font-size: 16px;
font-weight: bold;
}
.tab-contents {
    position: relative;
    opacity: 0;
    transform: translateX(30px) scale(0.95);
    transition: all 0.4s ease;
    max-height: 1000px;
    overflow: hidden;
}

/*---------certification------*/
#certification{
    padding: 30px 0;
}
.certification-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.certification-list div{
    background: #262626;
    padding: 40px;
    font-size: 12px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.certification-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.certification-list h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.certification-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.certification-list div:hover{
    background: #3e33d6;
    transform: translateY(-10px);

}

/*-------portofolio-----*/
#portofolio{
    padding: 50px 0;
}

.portofolio-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.portofolio{
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}
.portofolio img{
    width: 100%;
    border-radius:  10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #3e33d6);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #3e33d6;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.portofolio:hover img{
transform: scale(1.1) ;
}

.portofolio:hover .layer{
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #3e33d6;
    padding: 14px 50px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
transition: background 0.5s;
}
.btn:hover{
    background: #3e33d6;
}
/*--------contact---------*/
.contact-left{
flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;

}

.contact-left p i{
    color: #3e33d6;
    margin-right: 15px;
    font-size: 25px;
}

.socials-icon{
    margin-top: 30px;
}

.socials-icon a{
text-decoration: none;
font-size: 30px;
margin-right: 50px;
color: #ababab;
display: inline-block;
transition: transform 0.5s;
}

.socials-icon a:hover{
    color: #3e33d6;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: #3e33d6;

}

.contact-right{
    width: 100%;
}

form input, form textarea{
width: 100%;
border: 0;
outline: none;
background: #262626;
padding: 15px;
margin: 15px 0;
color: #fff;
font: 18px;
border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

/*.copyright{
    color: #3e33d6;
}*/

/*---------css for small screen------*/
nav .fa-solid{
    display: none;
}
@media only screen and (max-width: 600px){
    #header {
        background-image: url();
    }
    .header-text{
        margin-top: 120%;
        font-size: 34px;
    }
    .header-text h1{
        font-size: 23px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #3e33d6;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}

/* Hidden state before scrolling */
.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease-out;
}

/* When the section enters the viewport */
.reveal.active {
    opacity: 1;
    transform: translateY(0);
}
/* Faded & blurred when above viewport */
.reveal.blur {
    opacity: 0.4; /* semi-transparent */
    filter: blur(4px); /* blur effect */
    transition: all 0.8s ease-out;
}

.tab-contents {
    position: relative;
    opacity: 0;
    transform: translateX(-30px); /* start left */
    transition: all 0.4s ease;
    max-height: 0;
    overflow: hidden;
}

.tab-contents.active-tab {
    opacity: 1;
    transform: translateX(0);
    max-height: 1000px; 
}

.tab-contents.exit-right {
    opacity: 0;
    transform: translateX(30px); /* slide out to right */
}
